__pycache__/
*.py[cod]
output/
dist/
local/
*.gba
*.sav
*.rom
*.bin
*.nds
*.dll
*.exe
*.bps
*.ips
*.ups
*.xdelta
*.zip
*.png
*.jpg
*.ttf
*.otf
*.state
*.g3diag*
*.tmp

third_party/_work/
.venv/
analysis/private/
